<% products.forEach(producto => { %>

    <div class="contenedor-imagen">
        <img src="<%= producto.imagen %> " alt="Samsung S21" class="imagen-destacada">
        <div class="descripcion-destacado">
            <h3>Samsung S21 FE</h3>
            <p>$60.000</p>
            <button class="boton" type="submit">Conoce más</button>
        </div>
    </div>
    
<%  }); %> 