
<% productos.forEach(producto => { %>

    <div class="contenedor-imagen">
        <img src="<%= producto.imagenPrincipal %> " alt="Samsung S21" class="imagen-destacada">
        <div class="descripcion-destacado">
            <h3><%= producto.nombre %> </h3>
            <p>$<%= producto.precio %> </p>
            <a href="/detalle/<%= producto.id %> "><button class="boton" type="submit">Conoce más</button></a>
        </div>
    </div>
    
<%  }); %> 