<footer>
    <article class="footer-mobile">
        <p class="secciones">Productos</p><button class="icono"><i class="fa-solid fa-chevron-down"></i></button>
        <p class="secciones">Soporte</p><button class="icono"><i class="fa-solid fa-chevron-down"></i></button>
        <p class="secciones">Acerca de nosotros</p><button class="icono"><i class="fa-solid fa-chevron-down"></i></button>
        <p class="secciones"><a href="/login">Login</a></p><button class="icono"><i class="fa-solid fa-chevron-down"></i></button>
        <p class="secciones">¡Crea tu cuenta!</p><button class="icono"><i class="fa-solid fa-chevron-down"></i></button>
    </article>

    <article class="contenedor-footer">
        <div class="barra-footer">
            <p>Productos</p>
            <div class="barra-blanca-footer">
                <p><i class="fa-solid fa-angle-down"></i></p>
            </div>
                <div class="descripcion-footer">
                    <ul>
                        <li><a href="#">Celulares</a></li>
                        <li><a href="#">Tabletas</a></li>
                        <li><a href="#">Computadoras</a></li>
                        <li><a href="#">Audio</a></li>
                    </ul>
                </div>
            </div>
            <div class="barra-footer">
                <p>Soporte</p>
                <div class="barra-blanca-footer">
                    <p><i class="fa-solid fa-angle-down"></i></p>
                </div>
                <div class="descripcion-footer">
                    <ul>
                        <li><a href="#">Ubicacion de Centros de Servicios</a></li>
                        <li><a href="#">Periodo de Garantia</a></li>
                        <li><a href="#">Politica de Garantia</a></li>
                    </ul>
                </div>
            </div>
            <div class="barra-footer">
                <p>Acerca De Nosotros</p>
                <div class="barra-blanca-footer">
                    <p><i class="fa-solid fa-angle-down"></i></p>
                </div>
                <div class="descripcion-footer">
                    <ul>
                        <li><a href="#">El grupo AYRU es un grupo de cuatro </a></li>
                        <li><a href="#">programadores enfocados en construir  </a></li>
                        <li><a href="#">una pagina web de elementos electronicos  </a></li>
                        <li><a href="#"> de la mejor manera posible</a></li>
                    </ul>
                </div>
            </div>
            <div class="barra-footer">
                <p>Login</p>
                <div class="barra-blanca-footer">
                    <p><i class="fa-solid fa-angle-down"></i></p>
                </div>
                <div class="descripcion-footer">
                    <ul>
                        <li><a href="#">Ingresa a tu usuario </a></li>
                        <li><a href="#">para mantenerte al margen</a></li>
                        <li><a href="#">de tus compras y tambien</a></li>
                        <li><a href="#">para no perderte ninguna novedad </a></li>
                    </ul>
                </div>
            </div>
            <div class="barra-footer">
                <p>¡Crea Tu Cuenta!</p>
                <div class="barra-blanca-footer">
                    <p><i class="fa-solid fa-angle-down"></i></p>
                </div>
                <div class="descripcion-footer">
                    <ul>
                        <li><a href="#">Registrese para obtener </a></li>
                        <li><a href="#"> descuentos exclusivos</a></li>
                        <li><a href="#"> de usuario y sume puntos</a></li>
                        <li><a href="#">para conseguir su producto al mejor precio</a></li>
                    </ul>
                </div>
            </div>
        </article>
    </footer>
</footer>