<header class="encabezado">
    <div class="contenedor-logo-iconos">
        <img class="logo" src="/img/logoayru.png" alt="">
        <img class="logo2" src="/img/logoayru2.png" alt=""> 
        <nav class="listas">
            <ul class="navbar"> 
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="navbar2">
                <div class="contenedor-navbar1">
                    <li><a href="register">Creá tu cuenta</a>
                        <i class="fas fa-id-card"></i>
                    </li>
                    <li><a href="login">Ingresá</a>
                        <i class="fas fa-sign-in-alt"></i>
                    </li>
                    <li><a href="productCart">Mis compras</a>
                        <i class="fas fa-shopping-basket"></i>
                    </li>
                </div>
                <div class="div-buscadores">
                    <label for="buscador" class="label-buscador">
                        <input type="text" id="buscador" class="buscador"placeholder="Buscar productos y mas...">
                        <button class="buscador-lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </label>
                    <p class="buscador-boton"><i class="fa-solid fa-magnifying-glass"></i></p>
                </div>
            </ul>
        </nav>
        <div class="nav-mobile">
            <button class="buscador-mobile"><i class="fa-solid fa-magnifying-glass"></i></button>
            <button class="menu-hamburguesa"><i class="fas fa-bars"></i></button>
        </div>
    </div>
</header>
