<header class="encabezado-corto">
    <div class="div-header-corto">
        <div class="subdiv-header-corto">
            <a href="/productCart" class="ahref-header-corto">
                <button type="button" class="button-header-corto"><i class="fas fa-shopping-basket"></i> <br> Cart </button>
            </a>
            <a href="/" class="ahref-header-corto">
                <button type="button" class="button-header-corto"><i class="fa-solid fa-house"></i> <br> Home </button>
            </a>
        </div>
    </div>
</header>