<main>
    <div class="main-main">
        <section class="slider">
            <ul>
                <li>
                    <div class="contenedor-descripcion-foto">
                        <p class="p-encabezado-foto"><strong>Samsung Galaxy</strong></p>
                        <p class="p-encabezado-foto"><strong>S21 FE 5G</strong></p>
                    </div>
                    <img src="/img/celular.png" alt="">
                    <div class="contenedor-descripcion-foto">
                        <button class="boton-comprar"><p>Comprar</p><i class="fa-solid fa-square-arrow-up-right"></i></button>
                        <a href="/s21fe">Mas informacion</a>
                    </div>
                </li>
                <li>
                    <div class="contenedor-descripcion-foto">
                        <p class="p-encabezado-foto"><strong>Iphone 13g</strong></p>
                        <p class="p-encabezado-foto"><strong>Pro Max</strong></p>
                    </div>
                    <img src="/img/iphone13.png" alt="">
                    <div class="contenedor-descripcion-foto">
                        <div class="boton-comprar"><p>Comprar</p><i class="fa-solid fa-square-arrow-up-right"></i></div>
                        <a href="/iphone13">Mas informacion</a>
                    </div>
                </li>
                <li>
                    <div class="contenedor-descripcion-foto">
                        <p class="p-encabezado-foto"><strong>Samsung Galaxy</strong></p>
                        <p class="p-encabezado-foto"><strong>S22 Ultra</strong></p>
                    </div>
                    <img src="/img/s22blanco.png" alt="">
                    <div class="contenedor-descripcion-foto">
                        <div class="boton-comprar"><p>Comprar</p><i class="fa-solid fa-square-arrow-up-right"></i></div>
                        <a href="/s22ultra">Mas informacion</a>
                    </div>
                </li>
                <li>
                    <div class="contenedor-descripcion-foto">
                        <p class="p-encabezado-foto"><strong>Motorola</strong></p>
                        <p class="p-encabezado-foto"><strong>Moto E20</strong></p>
                    </div>
                    <img src="/img/celular3.png" alt="">
                    <div class="contenedor-descripcion-foto">
                        <div class="boton-comprar"><p>Comprar</p><i class="fa-solid fa-square-arrow-up-right"></i></div>
                        <a href="#">Mas informacion</a>
                    </div>
                </li>
            </ul>
        </section>
    </div>




    <!-- FIN NUEVA VERSION POSIBLE -->
    


    <!-- VERSION ARI PRODUCTOS -->

    <!-- <article>
        <div>
    <img class="celular" src="/img/celular.jpg" alt="">
    </div>
    <div class="descripcion">
    <h3>Samsung S21 FE</h3>
    <p>$60.000</p>
    <button class="boton" type="submit">Conoce m치s</button>
    </div>
    <img class="celular" src="/img/celular1.jpg" alt="">
    </div>
    <div class="descripcion">
    <h3>Samsung A13</h3>
    <p>$45.000</p>
    <button class="boton" type="submit">Conoce m치s</button>
    </div>
    </article> -->

    <!-- FIN VERSION ARI PRODUCTOS -->


    <!-- POSIBLE NUEVA VERSION -->

    <div class="contenedor-destacados">

            <h1 class="encabezado-secundario">Destacados del mes</h1>
    
        <div class="destacados">
    
            
            <div class="contenedor-imagen">
                <img src="/img/celular.png" alt="Samsung S21" class="imagen-destacada">
                <div class="descripcion-destacado">
                    <h3>Samsung S21 FE</h3>
                    <p>$60.000</p>
                    <button class="boton" type="submit" >Conoce m치s</button>
                </div>
            </div>
    
            <div class="contenedor-imagen">
                <img src="/img/celular2.png" alt="Samsung A52s" class="imagen-destacada">
                <div class="descripcion-destacado">
                    <h3>Samsung A52s LTE 5G</h3>
                    <p>$100.000</p>
                    <button class="boton" type="submit">Conoce m치s</button>
                </div>
            </div>
    
        </div>
    </div>