<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs'); %>
<body>
    <%- include('./partials/header.ejs'); %>
    <main>
    <div class="contenedor-formu">
        <form class="formu" action="/products" method="POST">

            <h1>Formulario Creacion de Productos</h1>
            <!-- <h2 class ="product-title">=</h2> -->

            <p>
                Nombre del producto: <input type="text" name="nombre" placeholder="Ej: Samsung Galaxy">
            </p>

            <p>
                Descripcion: 
                <textarea class="description" name="descripcion" rows="4" cols="20"></textarea>
            </p>
            <p>
                Color: 
                <select name="colores">
                    <option value="0">...</option>
                    <option value="Lila">Lila</option>
                    <option value="Dorado">Dorado</option>
                    <option value="Verde">Verde</option>
                </select>
            </p>
            <p>
                Disponibilidad: 
                <select name="disponibilidad">
                    <option value="0" selected>Elegi</option>
                    <option value="en stock">en stock</option>
                    <option value="sin stock">sin stock</option>
              </select>
            </p>
            <p>
                Precio: 
                <input type="number" name="precio" placeholder="Ej: 5678" step="any">
            </p>
            <p>
                Categoria: 
                <select name="categoria">
                    <option value="0" selected>Elegi</option>
                    <option value="Celulares">Celulares</option>
                    <option value="Televisores">Televisores</option>
                </select>
            </p>
            <p>
              UbicacionesDisponibles: 
              <select name="ubicacionesDisponible">
                      <option value="todo el pais" selected>Todo el pais</option>
                      <option value="Buenos Aires">Buenos Aires</option>
                      <option value="Entre Rios">Entre Rios</option>
              </select>
            </p>

            <br>
            <button type="submit">Guardar producto</button>
            <br>
        </form>

          
        </div>

        </form>

      </main>
      <%- include('./partials/footer.ejs'); %>
</body>
</html>
