<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

<!--Iconos -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

<!--Tipografia-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/css/home.css">


</head>

<body>
    <header class="encabezado">
        <img class="tamaño" src="/img/Free_Sample_By_Wix.jpg" alt=""> 
        <nav class="iconos">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        <button><i class="fas fa-bars"></i></button>
        </nav>
</header>

<section class="slider">
    <ul>
        <li>
            <img src="/img/celular.jpg" alt="">
        </li>
        <li>
            <img src="/img/celular1.jpg" alt="">
        </li>
        <li>
            <img src="/img/celular2.jpg" alt="">
        </li>
        <li>
            <img src="/img/celular3.jpg" alt="">
        </li>
    </ul>
</section>

<article>
    <div>
<img class="celular1" src="/img/celular.jpg" alt="">
</div>
<div class="descripcion">
<h3>Samsung S21 FE</h3>
<p>$60.000</p>
<button class="boton" type="submit">Conoce más</button>
</div>

    
</article>

<footer>
    <p class="secciones">Productos</p><button class="icono"><i class="fa-solid fa-chevron-down"></i></button>
    <p class="secciones">Soporte</p><button class="icono"><i class="fa-solid fa-chevron-down"></i></button>
    <p class="secciones">Acerca de nosotros</p><button class="icono"><i class="fa-solid fa-chevron-down"></i></button>
    <p class="secciones">Login</p><button class="icono"><i class="fa-solid fa-chevron-down"></i></button>
    <p class="secciones">¡Crea tu cuenta!</p><button class="icono"><i class="fa-solid fa-chevron-down"></i></button>
</footer>
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
</body>

</html>
