<!DOCTYPE html>
<html lang="en">
    
<%- include('./partials/head.ejs'); %>


</head>

<body>

    <%- include('./partials/header.ejs'); %>
    
</header>

<!-- VERSION ARI CARRUSEL-->

<!-- <section class="slider">
    <ul>
        <li>
            <img src="/img/celular.jpg" alt="">
        </li>
        <li>
            <img src="/img/celular1.jpg" alt="">
        </li>
        <li>
            <img src="/img/celular2.jpg" alt="">
        </li>
        <li>
            <img src="/img/celular3.jpg" alt="">
        </li>
    </ul>
</section> -->

<!-- FIN VERSION ARI -->



<!-- NUEVA VERSION POSIBLE CARRUSEL -->

<%- include('./partials/main.ejs'); %>

</main>

<%- include('./partials/footer.ejs'); %>

</footer>
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
</body>

</html>
