<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs'); %>
<body class="main-pagina-listado">
    <%- include('./partials/header.ejs'); %>
<main >
    <div class="contenedor-resultados-busqueda">
        <%- include('./partials/card.ejs'); %>
    </div>
</main>
<%- include('./partials/footer.ejs'); %>