<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css"><link rel="stylesheet" href="./login.css">
    <link rel="stylesheet" href="/css/login.css">
</head> 
<body>
    <div class="container">
        <div class="s"> 
            <div class="s-c">
            <form class="login" action="../login" method="POST">
                <div class="login-f"> 
                    <i class="login-i fas fa-user"></i>
                    <input type="text" name="email" class="login-i2 e" id="input-email-login" placeholder="Usuario / email">
                    <small class="mensaje-error-login" id="advertencia-login-email"></small>
                </div> 
                <div class="login-f">
                <i class="login-i fas fa-lock"></i>
                <input type="password" name="password" class="login-i2 p" id="input-password-login" placeholder="Contrase単a">
                <small class="mensaje-error-login" id="advertencia-login-password"></small>
            </div>
            <input class="r-p"  type="radio" name="recordar" value="recordarcontrase単a" id="recordar"> Recuerdame </input>
            
            <button class="button login-s" type="submit">
            <span class="button__text">Ingresar</span>
            <i class="b-i fas fa-chevron-right"></i>
        </button>
    </form>
    <div class="s-l"> 
        <!-- <h3>Ingresa</h3> -->
        <div class="s-i">
        <a href="#" class="s-l-i fab fa-instagram"></a>
        <a href="#" class="s-l-i fab fa-facebook"></a>
        <a href="#" class="s-l-i fab fa-twitter"></a>
        
        </div>
        <div class="o-p"><a href="#">多Olvidaste tu contrase単a?</a></div>
        </div>
        </div>
        <div class="s-b">
            <span class="s-b-0 s-b-4"></span>
            <span class="s-b-0 s-b-3"></span>
            <span class="s-b-0 s-b-2"></span>
            <span class="s-b-0 s-b-1"></span>
            </div>
        </div>
    </div>
    
<footer>
    <img class="logo" src="/img/logoayru.png" alt="">
</footer>
   <script src="/js/validation-login.js"></script>
   </body>
    </html>

    
    
</body>
</html>