<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/productCart.css">
    <script src="https://kit.fontawesome.com/13031a384f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">

    
</head>
<body>
    <header class="main-header">
        <div class="logo-copy">
            <img src="/img/logo-mercado-liebre.svg" class="logo">
            <!-- <img class="imagen-logo"  src="/img/Free_Sample_By_Wix.jpg" alt="">  -->
        </div>
        <a href="#" class="menu-hamburguesa">
        <i class="fa-solid fa-bars"></i>
        </a>
        <nav class="listas">
            <ul class="left-navbar"> 
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href=#>Creá tu cuenta</a>
                    <i class="fas fa-id-card"></i>
                </li>
                <li><a href=#>Ingresá</a>
                    <i class="fas fa-sign-in-alt"></i>
                </li>
                <li><a href="#">Mis compras</a>
                    <i class="fas fa-shopping-basket"></i>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <p class="titular"><i class="fa-solid fa-cart-shopping"></i><strong>CARRITO DE COMPRA</strong></p>
        </div>
        <div class="main-main">
            <div class="sub-main">
                <article class="contenedor-main">
                    <div class="contenedor-tarjetas">
        
                        <!-- primer Tarjeta del carrito -->
                        <article class="card">
                            <img class=productos src="/img/camiseta.jpg" alt="Camiseta">
                            <div class="descripcion-producto">
                                <div>
                                    <h2 class="titulo-tarjeta">Titulo del producto</h2>
                                    <h3 class="subtitulo-tarjeta">descripcion del producto</h3>
                                </div>
                                <div class="etiqueta-precio">
                                    <div>
                                        <p>$Precio x</p>
                                    </div>
                                    <select name="cantidad-producto" id="cantProd">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    <!-- <div class="div-cantidad">
                                        <p><i class="fa-solid fa-angle-down"></i>Cantidad</p>
                                    </div> -->
                                    <div>
                                        <p>= $Total</p>
                                    </div>
                                </div>
                            </div>
                        </article>
            
                        <!-- segunda Tarjeta del carrito -->
                        <article class="card">
                            <img class=productos src="/img/camiseta.jpg" alt="Camiseta">
                            <div class="descripcion-producto">
                                <div>
                                    <h2 class="titulo-tarjeta">Titulo del producto</h2>
                                    <h3 class="subtitulo-tarjeta">descripcion del producto</h3>
                                </div>
                                <div class="etiqueta-precio">
                                    <div>
                                        <p>$Precio x</p>
                                    </div>
                                    <select name="cantidad-producto" id="cantProd">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    <!-- <div class="div-cantidad">
                                        <p><i class="fa-solid fa-angle-down"></i>Cantidad</p>
                                    </div> -->
                                    <div>
                                        <p>= $Total</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <div class="boton-escritorio">
                            <p><i class="fa-solid fa-angle-down"></i></p>
                        </div>
                    </div>
                    <div class="contenedor-dos">
                        <div class="contenedor-envio">
                            <div class="envio">
                                <div><p>ENVIO</p></div>
                                <div class="opcion-envio">
                                    <div>
                                        <p>
                                            <label name="pais">Pais</label>
                                        </p>
                                    </div>
                                    <!-- <div class="barra-blanca"> -->
                                        <select for="pais" id="pais">
                                            <option value="" selected></option>
                                            <option value="arg">Argentina</option>
                                            <option value="bra">Brasil</option>
                                            <option value="par">Paraguay</option>
                                            <option value="per">Peru</option>
                                            <option value="chi">Chile</option>
                                        </select>
                                        <!-- <p><i class="fa-solid fa-angle-down"></i></p> -->
                                    <!-- </div> -->
                                </div>
                                <div class="opcion-envio">
                                    <div>
                                        <p>
                                            <label for="provincia">Provincia</label>
                                        </p>
                                    </div>
                                    <select name="provincia" id="provincia">
                                        <option value="" selected></option>
                                        <option value="BsAs">Buenos Aires</option>
                                        <option value="Mis">Misiones</option>
                                        <option value="Cor">Cordoba</option>
                                        <option value="Chu">Chubut</option>
                                        <option value="LaPa">La Pampa</option>
                                    </select>
                                    <!-- <div class="barra-blanca">
                                        <p><i class="fa-solid fa-angle-down"></i></p>
                                    </div> -->
                                </div>
                                <div class="opcion-envio">
                                    <div>
                                        <p>
                                            <label for="codigo">Codigo Postal</label>
                                        </p>
                                    </div>
                                    <select name="codigo" id="codigo">
                                        <option value="" selected></option>
                                        <option value="1607">1607</option>
                                        <option value="1709">1709</option>
                                        <option value="1514">1514</option>
                                        <option value="1424">1424</option>
                                        <option value="8267">8267</option>
                                    </select>
                                    <!-- <div class="barra-blanca">
                                        <p><i class="fa-solid fa-angle-down"></i></p>
                                    </div> -->
                                </div>
                            </div>
                            <div class="contenedor-boton-cotizacion">
                                <div class="boton-cotizacion">
                                    <button class="p-cotizacion"><strong>Obtener Cotizacion</strong></button>
                                </div>
                            </div>
                        </div>
                        <div class="contenedor-envio">
                            <div class="envio">
                                <div><p>TOTAL DE COMPRA</p></div>
                                <div class="opcion-envio">
                                    <div>
                                        <p>Subtotal: $</p>
                                    </div>
                                </div>
                                <div class="opcion-envio">
                                    <div>
                                        <p>Envio: $</p>
                                    </div>
                                </div>
                                <div class="opcion-envio">
                                    <div>
                                        <p>Total: $</p>
                                    </div>
                                </div>
                            </div>
                            <div class="contenedor-boton-cotizacion">
                                <div class="boton-cotizacion">
                                    <button class="p-cotizacion"><strong>Actualizar Carrito</strong></button>
                                </div>
                                <div class="boton-cotizacion">
                                    <button class="p-cotizacion"><strong>Finalizar Compra</strong></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </main>
    <footer>
        <article class="contenedor-footer">
            <div class="barra-footer">
                <p>Productos</p>
                <div class="barra-blanca-footer">
                    <p><i class="fa-solid fa-angle-down"></i></p>
                </div>
                <div class="descripcion-footer">
                    <ul>
                        <li><a href="#">PC</a></li>
                        <li><a href="#">Tabletas</a></li>
                        <li><a href="#">Wearables</a></li>
                        <li><a href="#">Audio</a></li>
                    </ul>
                </div>
            </div>
            <div class="barra-footer">
                <p>Soporte</p>
                <div class="barra-blanca-footer">
                    <p><i class="fa-solid fa-angle-down"></i></p>
                </div>
                <div class="descripcion-footer">
                    <ul>
                        <li><a href="#">Ubicacion de Centros de Servicios</a></li>
                        <li><a href="#">Periodo de Garantia</a></li>
                        <li><a href="#">Politica de Garantia</a></li>
                    </ul>
                </div>
            </div>
            <div class="barra-footer">
                <p>Acerca De Nosotros</p>
                <div class="barra-blanca-footer">
                    <p><i class="fa-solid fa-angle-down"></i></p>
                </div>
                <div class="descripcion-footer">
                    <ul>
                        <li><a href="#">Lorem ipsum dolor sit </a></li>
                        <li><a href="#">amet consectetur adipisicing</a></li>
                        <li><a href="#">At eum totam assumenda</a></li>
                        <li><a href="#">cum dignissimos sed </a></li>
                    </ul>
                </div>
            </div>
            <div class="barra-footer">
                <p>Login</p>
                <div class="barra-blanca-footer">
                    <p><i class="fa-solid fa-angle-down"></i></p>
                </div>
                <div class="descripcion-footer">
                    <ul>
                        <li><a href="#">Lorem ipsum dolor sit </a></li>
                        <li><a href="#">amet consectetur adipisicing</a></li>
                        <li><a href="#">At eum totam assumenda</a></li>
                        <li><a href="#">cum dignissimos sed </a></li>
                    </ul>
                </div>
            </div>
            <div class="barra-footer">
                <p>¡Crea Tu Cuenta!</p>
                <div class="barra-blanca-footer">
                    <p><i class="fa-solid fa-angle-down"></i></p>
                </div>
                <div class="descripcion-footer">
                    <ul>
                        <li><a href="#">Lorem ipsum dolor sit </a></li>
                        <li><a href="#">amet consectetur adipisicing</a></li>
                        <li><a href="#">At eum totam assumenda</a></li>
                        <li><a href="#">cum dignissimos sed </a></li>
                    </ul>
                </div>
            </div>
        </article>
    </footer>

</body>
</html>