<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

</head>
<!--Iconos -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

<!--Tipografia-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="css/register.css">

</head>

<body>
    <main class="contenedor">
<section class="formulario"> 
    <div class="formulario-box">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    <h1>¡Crea tu cuenta!</h1>
<form action="/register" method="POST" enctype="multipart/form-data">
    <i class="login-i fas fa-user"></i>
<label class="clase" for="email">Email</label>
<input class="sub-formulario" type="email" name="email" id="email">

    <i class="login-i fas fa-lock"></i>
<label class="clase">Contraseña</label>
<input class="sub-formulario"  type="password" name="password" id="password">
    
    <i class="login-i fas fa-lock"></i>
<label class="clase">Confirmar contraseña</label>
<input class="sub-formulario"  type="password" name="password" id="password">

    <button class="boton" type="submit">Crear tu cuenta</button>
</div>
</form>

</section>

</main>

<footer>
    <img class="logo" src="/img/logoayru.png" alt="">
</footer>

  <!-----  <footer>
<p class="secciones">Productos</p><button class="icono"><i class="fa-solid fa-chevron-down"></i></button>
<p class="secciones">Soporte</p><button class="icono"><i class="fa-solid fa-chevron-down"></i></button>
<p class="secciones">Acerca de nosotros</p><button class="icono"><i class="fa-solid fa-chevron-down"></i></button>
<p class="secciones">Login</p><button class="icono"><i class="fa-solid fa-chevron-down"></i></button>
<p class="secciones">¡Crea tu cuenta!</p><button class="icono"><i class="fa-solid fa-chevron-down"></i></button>


    </footer>
    -->
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>

</body>

</html>
