:root{
    --Azul: #161989;
    --Azulclaro: #1E53A5;
    --Celeste:#269AC6;
    --Blanco: #FFFFFF;
	--Turquesa: #04FEE8;
}

::placeholder{
	color: rgb(147, 147, 162);
}

body {
background-image: url(/img/fondo2.png);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
color: black;
font-family: 'Oswald', sans-serif;
margin: 0px;
}

.footer-mobile{
	display: none;
}

a{
    text-decoration: underline; 
    color: #222222;
}


/* CSS HEADER VERSION MOBILE */
.encabezado {
    background-color: #1E53A5;
    box-sizing: border-box;
}

.contenedor-logo-iconos{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.logo{
	width: 50%;
    height: 30%;
    padding-bottom: 0.1%;
    margin-bottom: 0.1%;
}

.logo2{

	display: none;
	width: 50%;
    height: 30%;
    padding-bottom: 0.1%;
    margin-bottom: 0.1%;
}

.iconos{
	margin-bottom: 10px;
}

.frase-header{
	font-family: 'Caveat', cursive;
	display: none;
}

.label-buscador{
	display: none;
}

/* FIN CSS HEADER */




/* CSS NAVBAR - VERSION TABLET/ESCRITORIO */
.listas{
	display: none;
}

.listas ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0px;
    padding: 0;
}

.listas li{
    margin: 0 10px;
}

.listas a{
    text-decoration: none;
    color: #0d0d0d;
    display: inline-block;
    padding: 5px 0;
    font-size: 14px;
}

.nav-mobile{
	display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
}

.menu-hamburguesa{
	display: block;
    background-color: #151a21db;
    color: #ffffff;
    height: 42px;
    padding: 10px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
    width: 45px;
}

.buscador-mobile{
	background-color: #7eabb6;
    display: flex;
    margin-top: 5px;
    border-radius: 5px;
}
/* FIN CSS NAVBAR */




/* CSS SLIDER ARI */


/* .slider {
	width: 70%;
	margin: auto;
	overflow: hidden;
	border-bottom: ridge;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 25%;
	list-style: none;
}

.slider img {
	width: 100%;
    object-fit: cover;
} */

/* FIN CSS SLIDER ARI */


/* NUEVO CSS SLIDER */
.slider {
	width: 60%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 25%;
	list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
	font-family: 'Secular One', sans-serif;
}

.slider img {
	width: 100%;
    object-fit: cover;
    margin: 10px 0px 30px 0px;
}

.contenedor-descripcion-foto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p-encabezado-foto{
    font-size: 20px;
    font-family: sans-serif;
    margin: 5px;
}

.boton-comprar{
    border-radius: 25px;
	background-color: rgb(10 2 44 / 86%);
    color: azure;
    display: flex;
    align-items: center;
    margin: 20px 5px;
    padding: 8px 18px;
	box-shadow: -2px 0px 22px 6px rgba(0,0,0,0.74) inset;
    -webkit-box-shadow: -2px 0px 22px 6px rgba(0,0,0,0.74) inset;
    -moz-box-shadow: -2px 0px 22px 6px rgba(0,0,0,0.74) inset;
}

.boton-comprar p{
    margin: 5px 10px;
}



.contenedor-descripcion-foto a{
    color: black;
}

.main-main{
    border-bottom: solid 0.2px grey;
}


@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
/* FIN CSS CARRUSEL */



/* .celular{
	object-fit: cover;
	margin: auto;
	display: block;
	padding: 10%;
}

.descripcion{
	padding: 6px;
	border: solid 1px #ebebeb;
}

footer{
    background-color: var(--Blanco);
    padding: 5px;
    box-sizing: border-box;
    border-style: solid;
}

article{
	display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
}

.icono{
    position:relative;
   text-align: right;
   float: right;
    top: -40px;
}

.boton {
    box-shadow: 3px 1px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#07637a;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:5px 24px;
	text-decoration:none;
	text-shadow:0px -6px 0px #e1e2ed;
} */




/* CSS PRODUCTOS DESTACADOS */
.contenedor-descripcion-foto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-descripcion-foto p{
	font-family: 'Secular One', sans-serif;
}

.p-encabezado-foto{
    font-size: 20px;
    font-family: sans-serif;
    margin: 5px;
}

.contenedor-descripcion-foto a{
    color: black;
}

.main-main{
    border-bottom: solid 0.2px grey;
	box-shadow: -2px -1px 400px -118px rgb(0 0 0 / 75%) inset;
    -webkit-box-shadow: -2px -1px 400px -118px rgb(0 0 0 / 75%) inset;
    -moz-box-shadow: -2px -1px 400px -118px rgba(0,0,0,0.75) inset;

	/* box-shadow: 0px -1px 56px -11px rgb(0 0 0 / 75%) inset;
    -webkit-box-shadow: 0px -1px 56px -11px rgb(0 0 0 / 75%) inset;
    -moz-box-shadow: 0px -1px 56px -11px rgba(0,0,0,0.75) inset; */
}

.destacados{
	display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-destacados{
	background-color: #1E53A5;
    padding-top: 30px;
}

.contenedor-encabezado{
	background-color: #0f3c602b;
}

.encabezado-secundario{
    font-size: 25px;
    font-family: 'Prosto One', cursive;
    text-align: center;
    margin-bottom: 50px;
}

.contenedor-imagen{
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
	box-shadow: -1px 1px 6px 3px rgba(0,0,0,0.75);
	-webkit-box-shadow: -1px 1px 6px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 6px 3px rgba(0,0,0,0.75);
}

.imagen-destacada{
    margin: 0px 0px 40px 0px;
}

.descripcion-destacado{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
    border-top: solid 5px #ebebeb;
}

.descripcion-destacado h3{
    margin: 5px;
    margin-left: 0px;
}

.descripcion-destacado p{
    margin: 5px;
    margin-left: 0px;
}

.boton {
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#07637a;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:5px 24px;
	text-decoration:none;
	text-shadow:0px -6px 0px #e1e2ed;
}
/* FIN CSS DESTACADOS */




/* footer{
    background-color: var(--Blanco);
    padding: 5px;
    box-sizing: border-box;
    border-style: solid;
} */

article{
	display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
}

.icono{
    position:relative;
   text-align: right;
   float: right;
    top: -40px;
}
/* FIN NUEVO CSS */


/* CSS FOOTER */

footer a{
	color: #f2ecf2;
}

.contenedor-footer{
    background-color: #000000cf;
	/* #595a5ebf  #a6a8aebf  #7eabb6*/
    display: flex;
    flex-direction: column;
    border-top: solid 1px #0c0c5f;
    padding: 0px 10px;
	width: auto;
	color: white;
}

.barra-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0px;
    border-bottom: solid 1px #bcecf1;
}

.barra-blanca-footer{
    background-color: #374596de;
    display: flex;
    align-items: center;
    height: fit-content;
    border-radius: 5px;
}

.barra-footer p{
    margin: 5px;
}

.barra-footer ul{
    list-style: none;
    padding-left: 2px;
}

.barra-footer li{
    margin: 5px;
}

.descripcion-footer{
    display: none;
}
/* FIN CSS FOOTER */


/* MEDIA QUERYS */
@media screen and (min-width: 460px){

    .nav-mobile{
		display: none;
	}

	.logo{
		width: 50%;
        height: auto;
		padding-bottom: 0.1%;
		margin-bottom: 0.1%;
	}

	.label-buscador{
		width: 100%;
        display: flex;
        justify-content: flex-end;
		margin-bottom: 20px;
	}

	.iconos{
		margin-right: 15px;
		width: 40%;
		display: flex;
		justify-content: flex-end;
	}

	.label-buscador {
		width: 90%;
	}

	.buscador {
		width: 80%;
		height: 30px;
		background-color: #ebebeb;
		box-shadow: -2px -1px 11px -4px rgb(0 0 0 / 75%) inset;
		-webkit-box-shadow: -2px -1px 11px -4px rgb(0 0 0 / 75%) inset;
		-moz-box-shadow: -2px -1px 11px -4px rgba(0,0,0,0.75) inset;
	}

	.buscador-boton{
		display: none;
	}

	.buscador-lupa{
		border-radius: 5px;
        background-color: #cdbce2e3;
	}

	.disfruta{
		width: 80%;
	}

	.listas{
        display: flex;
        justify-content: space-between;
    }

	.navbar{
		display: none;
	}


    .navbar2{
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
		align-items: center;
		font-family: 'Secular One', sans-serif;
    }

	.contenedor-navbar1{
		display: flex;
		justify-content: space-around;
        width: 100%;
	}

	.div-buscadores{
		margin: 0px 25px;
	}

	.contenedor-imagen{
		width: 45%;
	}

	/* .tamaño {
		width: 11%;
		padding: 1%;
	} */
	/* .descripcion{
		padding: 6px;
		border: solid 1px #ebebeb;
		text-align: center;
	} */
	/* .celular{
		object-fit: cover;
		margin: auto;
		display: block;
		padding: 10%;
		width: 45%;
	}*/
} 


@media screen and (min-width: 768px){

	.contenedor-logo-iconos{
		align-items: center;
		flex-direction: row;
	}

	.boton:focus,
	.boton:hover {
		border-color: #269AC6;
		outline: none;
	}

	

	.logo {

		display: none;
		width: 5%;
        height: 5%;
        padding-bottom: 0.1%;
        margin-bottom: 0.1%;
		margin-right: 0.5%;
	}

	.logo2 {

		display: flex;
		width: 5%;
        height: 5%;
        padding-bottom: 0.1%;
        margin-bottom: 0.1%;
		margin-right: 0.5%;
	}


	.iconos{
		margin-bottom: 10px;
		flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
	}



	.frase-header{
		display: contents;
	}

	.contenedor-imagen{
		width: 20%;
	}

	.listas{
        display: flex;
        justify-content: space-between;
		width: -webkit-fill-available;
    }

	.left-navbar{
		display: contents;
	}

    .navbar{
        display: flex;
		width: 85%;
        justify-content: space-between;
		align-items: center;
		font-family: 'Secular One', sans-serif;
		margin-right: 20px;
    }

	.navbar2{
		flex-direction: row;
	}
	
	.label-buscador{
		display: none;
	}

	.buscador-boton{
		display: flex;
	}

	.pseudo-navbar{
		display: contents;
	}

    .right-navbar{
        display: flex;
		width: 35%;
    }

	.destacados{
       flex-direction: row;
       justify-content: space-evenly;
	}

	.tamaño {
		width: 6%;
		padding: 1%;
	}
	.slider {
		width: 20%;
		margin: auto;
		overflow: hidden;
		border-bottom: ridge;
	}

	.contenedor-footer{
        flex-direction: row;
        justify-content: space-between;
		color: white;
		padding: 0px;
    }

    .barra-footer{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        border-bottom: none;
		width: 20%
    }

    .barra-blanca-footer{
        display: none;
    }

    .descripcion-footer{
        display: contents;
    }

	

	/* .descripcion{
		padding: 6px;
		border: solid 1px #ebebeb;
		text-align: center;
	} */
} 
