:root{
    --Azul: #161989;
    --Azulclaro: #1E53A5;
    --Celeste:#269AC6;
    --Blanco: #FFFFFF;
	--Turquesa: #04FEE8;
}

::placeholder{
	color: rgb(147, 147, 162);
}

body {
background-image: url(/img/fondo2.png);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
color: black;
font-family: 'Oswald', sans-serif;
margin: 0px;
}

a{
    text-decoration: underline; 
    color: #222222;
}

.iconos{
	margin-bottom: 10px;
}

.main-main{
    border-bottom: solid 0.2px grey;
    display: flex;
    flex-direction: column;
}

/* CSS PARTIALS.CARD */
.div-listado{
  display: flex;
  justify-content: space-around;
  margin: 20px 0px;
}





/* //////////////////////////////////////////////////// */
/* ///CSS CARRUSEL/// */
/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: 100px auto 0px;
  }
  
  /* Hide the images by default */
  .mySlides {
	display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: rgb(12, 11, 11);
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }

  .prev{
	left: -80px;
	top: 150px;
  }

  /* Position the "next button" to the right */
  .next{
	right: -80px;
	top: 150px;
  }
  

  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
	color: #090808;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: -80px;
    width: 100%;
    text-align: center;
    font-family: 'Secular One', sans-serif;
  }

  .text1 {
	color: #090808;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: -45px;
    width: 100%;
    text-align: center;
    font-family: 'Secular One', sans-serif;
  }

  .img-carrusel{
    width: 300px;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #0f0e0e;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: -72.5px;
    left: -40px;
  }
  
  .dots{
	text-align: center;
	margin-bottom: 15px;
  }

  /* The dots/bullets/indicators */
  .dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
	background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
	animation-name: fade;
	animation-duration: 1.5s;
	margin-bottom: 30px;
  }

  .contenedor-descripcion-foto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-comprar{
    border-radius: 25px;
	background-color: rgb(10 2 44 / 86%);
    color: azure;
    display: flex;
    align-items: center;
    margin: 20px 5px;
    padding: 8px 18px;
	box-shadow: -2px 0px 22px 6px rgba(0,0,0,0.74) inset;
    -webkit-box-shadow: -2px 0px 22px 6px rgba(0,0,0,0.74) inset;
    -moz-box-shadow: -2px 0px 22px 6px rgba(0,0,0,0.74) inset;
}

.boton-comprar p{
    margin: 5px 10px;
}



.contenedor-descripcion-foto a{
    color: black;
} 
  
  @keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
  }

/* ///FIN CSS CARRUSEL/// */
/* ///////////////////////////////////////////// */


.contenedor-descripcion-foto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-descripcion-foto p{
	font-family: 'Secular One', sans-serif;
}

.p-encabezado-foto{
    font-size: 20px;
    font-family: sans-serif;
    margin: 5px;
}

.contenedor-descripcion-foto a{
    color: black;
}

.main-main{
    border-bottom: solid 0.2px grey;
	box-shadow: -2px -1px 400px -118px rgb(0 0 0 / 75%) inset;
    -webkit-box-shadow: -2px -1px 400px -118px rgb(0 0 0 / 75%) inset;
    -moz-box-shadow: -2px -1px 400px -118px rgba(0,0,0,0.75) inset;

	/* box-shadow: 0px -1px 56px -11px rgb(0 0 0 / 75%) inset;
    -webkit-box-shadow: 0px -1px 56px -11px rgb(0 0 0 / 75%) inset;
    -moz-box-shadow: 0px -1px 56px -11px rgba(0,0,0,0.75) inset; */
}

.destacados{
	display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-destacados{
	background-color: #1E53A5;
    padding-top: 30px;
}

.contenedor-encabezado{
	background-color: #0f3c602b;
}

.encabezado-secundario{
    font-size: 25px;
    font-family: 'Prosto One', cursive;
    text-align: center;
    margin-bottom: 50px;
}

.contenedor-imagen{
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
	box-shadow: -1px 1px 6px 3px rgba(0,0,0,0.75);
	-webkit-box-shadow: -1px 1px 6px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 6px 3px rgba(0,0,0,0.75);
}

.imagen-destacada{
    margin: 0px 0px 40px 0px;
}

.descripcion-destacado{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
    border-top: solid 5px #ebebeb;
}

.descripcion-destacado h3{
    margin: 5px;
    margin-left: 0px;
}

.descripcion-destacado p{
    margin: 5px;
    margin-left: 0px;
}

.boton {
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#07637a;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:5px 24px;
	text-decoration:none;
	text-shadow:0px -6px 0px #e1e2ed;
}
/* FIN CSS DESTACADOS */


article{
	display: block;
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
}

.icono{
    position:relative;
   text-align: right;
   float: right;
    top: -40px;
}


/* MEDIA QUERYS */
@media screen and (min-width: 460px){

	.contenedor-imagen{
		width: 45%;
	}

} 


@media screen and (min-width: 768px){

	.boton:focus,
	.boton:hover {
		border-color: #269AC6;
		outline: none;
	}

	.contenedor-imagen{
		width: 20%;
	}

	.destacados{
       flex-direction: row;
       justify-content: space-evenly;
	}

	.tamaño {
		width: 6%;
		padding: 1%;
	}
	.slider {
		width: 20%;
		margin: auto;
		overflow: hidden;
		border-bottom: ridge;
	}
} 
